*{margin:0;padding:0;}
body{background-color:rgb(153,255,153);}
h1{text-align:center;margin:40px 20px 10px}

/*テーブルのサイズ*/
.table_size{width: 80%;margin: auto;padding: auto;}

/*テーブルのヘッダーの背景色*/
.th_back{background-color:green;text-align: center;}

/*テーブルのセルの背景色*/
.td_back{background-color: white;text-align: center;}
p{text-align:left;margin:20px 0px 10px 10%}

/*テーブルのボタン*/
.tablebutton {
    width:40px;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    border: 1px solid rgb(146, 146, 146);
    display:block;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:20px auto 30px;
}

/*テーブルの「タスク名」のボタンのサイズ*/
.taskTableButtonSize{
    width: 70px;
}

/*メモテーブルのボタン*/
.memoTableButton {
    width:100%;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    border: 1px solid rgb(146, 146, 146);
    display:block;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
}

/*メモテーブルのセル*/
.memoTableTd{
    text-align: left;
    width: 90%;
    white-space: pre;
    padding-left: 40% !important;
}

/*テーブル以外のボタンのサイズ*/
.button {
    width:20%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    border: none;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:20px auto 30px;
}
button.hover {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px  0px 2px 0.5px gray;
}

.title_button {
    margin-top:270px;
}

.login_button {
    margin-top:170px;
}

/*ホーム画面のデザイン*/
.title_item {
    width:100%;
    font-size:16px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding:auto;
    margin:auto;
}

/*ホーム画面のデザイン*/
.login_item {
    width:100%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:auto;
    margin:auto;
}

/*タスクの登録・更新・削除画面のデザイン*/
.other_item {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding: auto;
    margin:0 auto;
}

/*タスクの登録・更新・削除画面のメッセージのデザイン*/
.cont {
    width:70%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:8px 0px 10px;
    margin:40px auto 4px;
}


/*未完了・完了タスク表示切り替えのデザイン*/
tr.show{
    display:table-row;
}
tr.hide{
    display:none;
}

/*アカウント削除ダイアログのデザイン*/
#dialog {
    display:none;
}
#dialogBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
#dialogContent {
    position: absolute;
    top: 20%;
    width: 65%;
    height: 250px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: auto;
    background-color: white;
    text-align: center;
    border:none;
    font-weight:bold;
    border-radius:5px;
    z-index: 3;
}
#dialogMsg {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding: auto;
    margin:50px auto;
}

/*メモ更新・削除ダイアログのデザイン*/
#deleteMemoDialog,#updateMemoDialog {
    display:none;
}
#deleteMemoDialogBackground,#updateMemoDialogBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
#deleteMemoDialogContent,#updateMemoDialogContent {
    position: absolute;
    top: 20%;
    width: 65%;
    height: 350px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: auto;
    background-color: white;
    text-align: center;
    border:none;
    font-weight:bold;
    border-radius:5px;
    z-index: 3;
}
#deleteMemoDialogMsg{
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding: auto;
    margin:30px auto;
}
#dialogMemoContents {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding: auto;
    margin:30px auto;
}
#deleteMemoContentsMsg{
    margin-left: 40%;
}

/*ダイアログのボタンのデザイン*/
.dialogButton {
    width:5em;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    border: solid 1px;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:auto;
}

/*ダイアログのOKボタンのデザイン*/
.dialogOkButton {
    color: white;
    background-color:red;
    border: solid 1px red;
}
.dialogOkButton.hover {
    color: rgb(241, 241, 241);
    background-color:rgb(241, 0, 0);
    box-shadow: 0px  0px 2px 0.5px gray;
}

/*ハンバーガーメニューのデザイン*/
.nav-btn {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 40px;
    height: 24px;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
}
.nav-btn span {
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 300ms;
}
.nav-btn span:nth-child(1) {
    top: 0
}
.nav-btn span:nth-child(2) {
    top: 15px
}
.nav-btn span:nth-child(3) {
    top: 30px
}

/*ハンバーガーメニュー表示時のデザイン*/
.nav-btn.open span {
    background: rgb(255, 255, 255);
    transform: rotate(180deg);
}
.nav-btn.open span:nth-child(1) {
    transform: translate(-7px,15px) rotate(45deg);
}
.nav-btn.open span:nth-child(2) {
    transform: translate(-7px,0px) rotate(135deg);
}
.nav-btn.open span:nth-child(3) {
    transform: translate(100px,0px);
}


/*メモ作成画面のバックボタンのデザイン*/
.back-btn {
    position: fixed;
    top: 5px;
    right: 20px;
    left: 10px;
    width: 40px;
    height: 24px;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px;
}
.back-btn span {
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}
.back-btn span:nth-child(1) {
    top: 0;
    transform: translate(-7px,2px) rotate(135deg);
}
.back-btn span:nth-child(2) {
    top: 15px;
    width: 60px;
    translate: -3px;
}
.back-btn span:nth-child(3) {
    top: 30px;
    transform: translate(-7px,-2px) rotate(45deg);
}

/*ハンバーガーメニュー内のデザイン*/
#navi {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    transition: all 300ms;
}
#navi.open-menu {
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
#navi ul li,#navi p {
    font-size: 42px;
    padding: 10px 0px;
    list-style: none;
    color: white;
    cursor: pointer;
}

/*メモ作成画面のタスク名、タスク内容の表示エリアのデザイン*/
div.taskMemoDetail{
    width:80%;
    border: none;
    display:block;
    padding:4px 0 4px;
    background-color:white;
    border-radius:5px;
    margin:5px auto 30px;
}
p.taskName{
    text-align: center;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    margin: auto;
}
p.taskContents{
    text-align: left;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    margin: 10px auto 10px 40%;
    white-space:pre-wrap;
    width: 120px;
}

/*メモ作成画面の登録エリアのデザイン*/
div#memoContentsForm {
    text-align: center;
    width: 80%;
    margin: 30px auto 10px;
}

/*メモ作成画面の登録エリア内のテキストエリアのデザイン*/
#memoContents{
    width: 100%;
    height: 60px;
    font-weight:bold;
    text-decoration:none;
}

@media screen and (max-width: 1300px){

    /*タスク登録・更新・削除画面の項目のデザイン*/
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 35%;
    }

    /*ハンバーガーメニューのデザイン*/
    .nav-btn {
        width: 30px;
        height: 24px;
    }
    .nav-btn span {
        width: 30px;
        height: 4px;
    }
    .nav-btn span:nth-child(1) {
        top: 0
    }
    .nav-btn span:nth-child(2) {
        top: 10px
    }
    .nav-btn span:nth-child(3) {
        top: 20px
    }

    /*ハンバーガーメニュー表示時のデザイン*/
    .nav-btn.open span:nth-child(1) {
        transform: translate(-7px,10px) rotate(45deg);
    }
    .nav-btn.open span:nth-child(2) {
        transform: translate(-7px,0px) rotate(135deg);
    }
    .nav-btn.open span:nth-child(3) {
        transform: translate(100px,0px);
    }

    /*ハンバーガーメニュー内のデザイン*/
    #navi {
        right: -250px;
        width: 250px;
        padding-top: 50px;
    }
    #navi ul li,#navi p{
        font-size: 32px;
    }
}

@media screen and (max-width: 1000px){

    /*タスク登録・更新・削除画面の項目のデザイン*/
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 30%;
    }
}

@media screen and (max-width: 700px) {

    /*タスク登録・更新・削除画面の項目のデザイン*/
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 20%;
    }
}

/*スマホサイズ　縦*/
@media only screen and (max-device-width:414px) and (orientation: portrait){
    h1{
        text-align:center;
        margin:40px 20px 10px;
        font-size:5rem;
    }
    
    /*テーブル以外のボタンのサイズ*/
    .button {
        width:800px;
        font-size:5rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        border: none;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
        margin:20px auto 30px;
    }
    button.hover {
        background-color: rgb(241, 241, 241);
        box-shadow: 0px  0px 2px 1px gray;
    }

    .title_button {
        margin-top:100%;
    }

    /*タスク登録・更新・削除画面の項目のデザイン*/
    label,input[type="text"]#accountName,input[type="text"]#password,input[type="password"]#password{
        font-size:3rem;
    }

    /*ログイン画面のパスワード表示非表示のチェックボックスのデザイン*/
    input[type="checkbox"]{
        width: 32px;
        height: 32px;
    }

    /*テーブルのサイズ*/
    .table_size{
        width: 90%;
        height: 300px; 
        margin: auto;
        padding: auto;
        font-size: 28px;
    }

    /*テーブルのボタン*/
    .tablebutton {
        font-size:20px;
        text-align:center;
    }

    /*タスク登録・更新・削除画面の項目のデザイン*/
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 20%;
    }

    /*タスク登録・更新・削除画面のタスク名・期日項目のフォントサイズ*/
    input[type="text"]#taskName,input[type="date"]#deadLine{
        font-size:2rem;
    }

    /*タスクの登録・更新画面の状態、優先度項目のフォントサイズ*/
    select#status,select#priority{
        font-size:2rem;
    }

    /*タスクの登録・更新画面のタスク内容項目の幅*/
    textarea#taskContents{
        width: 160%;
    }

    /*タスクの登録・更新・削除画面のメッセージのデザイン*/
    .cont {
        width:70%;
        font-size:2.5rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:center;
        padding:8px 0px 10px;
        margin:40px auto 4px;
    }

    /*アカウント削除ダイアログのデザイン*/
    #dialogContent{
        position: absolute;
        top: 20%;
        width: 90%;
        height: 400px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto;
        background-color: white;
        text-align: center;
        border:none;
        font-weight:bold;
        border-radius:5px;
    }
    #dialogMsg {
        font-size:2.5rem;
    }
    
    /*ダイアログのボタンのデザイン*/
    .dialogButton {
        font-size:2.5rem;
    }

    /*ハンバーガーメニューのデザイン*/
    .nav-btn {
        width: 120px;
        height: 24px;
    }
    .nav-btn span {
        width: 120px;
        height: 10px;
    }
    .nav-btn span:nth-child(1) {
        top: 0
    }
    .nav-btn span:nth-child(2) {
        top: 30px
    }
    .nav-btn span:nth-child(3) {
        top: 60px
    }

    /*ハンバーガーメニュー表示時のデザイン*/
    .nav-btn.open span:nth-child(1) {
        transform: translate(-7px,30px) rotate(45deg);
    }
    .nav-btn.open span:nth-child(2) {
        transform: translate(-7px,0px) rotate(135deg);
    }
    .nav-btn.open span:nth-child(3) {
        transform: translate(150px,0px);
    }

    /*ハンバーガーメニュー内のデザイン*/
    #navi {
        right: -500px;
        width: 500px;
        padding-top: 100px;
    }
    #navi ul li,#navi p{
        font-size: 4rem;
    }

    /*メモ作成画面のバックボタンのデザイン*/
    .back-btn {
        position: fixed;
        top: 5px;
        right: 20px;
        left: 10px;
        width: 80px;
        height: 24px;
        z-index: 2;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 10px;
    }
    .back-btn span {
        position: absolute;
        width: 80px;
        height: 10px;
        background: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .back-btn span:nth-child(1) {
        top: 0;
        transform: translate(-7px,20px) rotate(135deg);
    }
    .back-btn span:nth-child(2) {
        top: 45px;
        width: 100px;
        translate: 10px;
    }
    .back-btn span:nth-child(3) {
        top: 45px;
        transform: translate(-7px,26px) rotate(45deg);
    }

    /*メモ作成画面のタスク名、タスク内容のデザイン*/
    p.taskName{
        text-align: center;
        font-size:2rem;
        font-weight:bold;
        text-decoration:none;
        margin: auto;
    }
    p.taskContents{
        text-align: left;
        font-size:2rem;
        font-weight:bold;
        text-decoration:none;
        margin: 10px auto 10px 40%;
        white-space:pre-wrap;
        width: 120px;
    }

    /*メモテーブルのセル*/
    .memoTableTd{
        font-size: 32px;
        text-align: left;
        width: 90%;
        white-space: pre;
        padding-right: 10%;
        padding-left: 40% !important;
    }

    /*メモテーブルのボタン*/
    .memoTableButton {
        width:90px;
        font-size:40px;
        font-weight:bold;
        text-decoration:none;
        border: 1px solid rgb(146, 146, 146);
        display:block;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
    }

    /*メモ更新・削除ダイアログのデザイン*/
    #deleteMemoDialogContent,#updateMemoDialogContent {
        position: absolute;
        top: 20%;
        width: 90%;
        height: 50%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto;
        background-color: white;
        text-align: center;
        border:none;
        font-weight:bold;
        border-radius:5px;
        z-index: 3;
    }
    #dialogMemoContents {
        width:80%;
        height: 200px;
        font-size:38px;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:left;
        padding: auto;
        margin:30px auto;
    }
    #updateMemoDialogMsg{
        font-size:38px;
    }
    #deleteMemoDialogMsg{
        width:80%;
        font-size:38px;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:center;
        padding: auto;
        margin:30px auto;
    }
    #deleteMemoContentsMsg{
        font-size:38px;
        margin-bottom: 5%;
        margin-left: 40%;
    }

    /*メモ作成画面の登録エリア内のテキストエリアのデザイン*/
    #memoContents{
        width: 100%;
        height: 140px;
        font-size: 30px;
    }

    
}

/*スマホサイズ　横*/
@media only screen and (max-device-width:926px) and (orientation: landscape){

    /*テーブル以外のボタンのサイズ*/
    .button {
        width:500px;
        font-size:2rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        border: none;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
        margin:20px auto 30px;
    }

    .title_button {
        margin-top:10%;
    }

    /*ログイン画面のパスワード表示非表示のチェックボックスのデザイン*/
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

    /*アカウント削除ダイアログのデザイン*/
    #dialogBackground {
        position: fixed;
        left: 0px;
        top: 0px;
        width:950px;
        height: 100vh;
        background-color: #000000;
        opacity: 0.5;
    }

     /*ハンバーガーメニューのデザイン*/
    .nav-btn {
        width: 80px;
        height: 24px;
    }
    .nav-btn span {
        width: 80px;
        height: 6px;
    }
    .nav-btn span:nth-child(1) {
        top: 0
    }
    .nav-btn span:nth-child(2) {
        top: 15px
    }
    .nav-btn span:nth-child(3) {
        top: 30px
    }

    /*ハンバーガーメニュー表示時のデザイン*/
    .nav-btn.open span:nth-child(1) {
        transform: translate(-7px,30px) rotate(45deg);
    }
    .nav-btn.open span:nth-child(2) {
        transform: translate(-7px,15px) rotate(135deg);
    }
    .nav-btn.open span:nth-child(3) {
        transform: translate(150px,0px);
    }

    /*ハンバーガーメニュー内のデザイン*/
    #navi {
        right: -500px;
        width: 500px;
        padding-top: 100px;
    }
    #navi ul li,#navi p{
        font-size: 2rem;
    }

    /*メモテーブルのセル*/
    .memoTableTd{
        font-size: 25px;
        text-align: left;
        width: 90%;
        white-space: pre;
        padding-left: 40% !important;
    }

    /*メモテーブルのボタン*/
    .memoTableButton {
        width:60px;
        font-size:22px;
        font-weight:bold;
        text-decoration:none;
        border: 1px solid rgb(146, 146, 146);
        display:block;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
    }

    /*メモ作成画面の登録エリア内のテキストエリアのデザイン*/
    #memoContents{
        width: 100%;
        height: 180px;
        font-size: 20px;
        font-weight:bold;
        text-decoration:none;
    }

    /*メモ更新・削除ダイアログのデザイン*/
    #deleteMemoDialogContent,#updateMemoDialogContent {
        position: absolute;
        top: 20%;
        width: 90%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto;
        background-color: white;
        text-align: center;
        border:none;
        font-weight:bold;
        border-radius:5px;
        z-index: 3;
    }
    #deleteMemoDialogMsg{
        width:80%;
        font-size:25px;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:center;
        padding: auto;
        margin:30px auto;
    }
    #updateMemoDialogMsg{
        font-size:25px;
    }
    #dialogMemoContents {
        width:80%;
        height: 180px;
        font-size:38px;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:left;
        padding: auto;
        margin:30px auto;
    }
}