*{margin:0;padding:0;}
body{background-color:rgb(153,255,153);}
h1{text-align:center;margin:40px 20px 10px}
/*table{margin:20px 5% 10px;border-color: #000000;}*/
.table_size{width: 80%;margin: auto;padding: auto;}
.th_back{background-color:green;text-align: center;}
.td_back{background-color: white;text-align: center;}
p{text-align:left;margin:20px 0px 10px 10%}
.tablebutton {
    width:40px;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    border: none;
    display:block;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:20px auto 30px;
}

.button {
    width:20%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    border: none;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:20px auto 30px;
}

.title_button {
    margin-top:270px;
}

.login_button {
    margin-top:170px;
}

.cont_title {
    width:60%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:auto;
    margin:auto;
}

.cont {
    width:70%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:8px 0px 10px;
    margin:40px auto 4px;
}

.title_item {
    width:100%;
    font-size:16px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding:auto;
    margin:auto;
}

.login_item {
    width:100%;
    font-size:24px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:auto;
    margin:auto;
}

.other_item {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:center;
    padding: auto;
    margin:0 auto;
}

tr.show{
    display:table-row;
}
tr.hide{
    display:none;
}

#dialog {
    display:none;
}
#dialogBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
#dialogContent {
    position: absolute;
    top: 20%;
    width: 65%;
    height: 250px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: auto;
    background-color: white;
    text-align: center;
    border:none;
    font-weight:bold;
    border-radius:5px;
}

#dialogMsg {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding: auto;
    margin:50px auto;
}

.dialogButton {
    width:5em;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    border: solid 1px;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:auto;
}

.dialogOkButton {
    color: white;
    background-color:red;
    border: solid 1px red;
}

.dialogOkButton.hover {
    color: rgb(241, 241, 241);
    background-color:rgb(241, 0, 0);
    box-shadow: 0px  0px 2px 0.5px gray;
}

button.hover {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px  0px 2px 0.5px gray;
}

@media screen and (max-width: 1300px){
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 35%;
    }
}

@media screen and (max-width: 1000px){
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 30%;
    }
}

@media screen and (max-width: 700px) {
    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 20%;
    }
}

/*スマホサイズ　縦*/
@media only screen and (max-device-width:414px) and (orientation: portrait){
    h1{
        text-align:center;
        margin:40px 20px 10px;
        font-size:5rem;
    }
    
    .button {
        width:800px;
        font-size:5rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        border: none;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
        margin:20px auto 30px;
    }
    .title_button {
        margin-top:100%;
    }

    label{
        font-size:3rem;
    }
    input[type="text"]#accountName{
        font-size:3rem;
    }
    input[type="text"]#password{
        font-size:3rem;
    }
    input[type="password"]#password{
        font-size:3rem;
    }
    input[type="checkbox"]{
        width: 32px;
        height: 32px;
    }

    .table_size{
        width: 90%;
        height: 300px; 
        margin: auto;
        padding: auto;
        font-size: 28px;
    }

    .tablebutton {
        font-size:21px;
        text-align:center;
    }

    #taskNo_field,#taskName_field,#deadLine_field,#status_field,#priority_field,#taskContents_field {
        display: table;
        text-align: left;
        margin-left: 20%;
    }

    input[type="text"]#taskName{
        font-size:2rem;
    }
    input[type="date"]#deadLine{
        font-size:2rem;
    }
    select#status{
        font-size:2rem;
    }
    select#priority{
        font-size:2rem;
    }

    textarea#taskContents{
        width: 160%;
    }

    .cont {
        width:70%;
        font-size:2.5rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        text-align:center;
        padding:8px 0px 10px;
        margin:40px auto 4px;
    }
    #dialogContent{
        position: absolute;
        top: 20%;
        width: 90%;
        height: 400px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto;
        background-color: white;
        text-align: center;
        border:none;
        font-weight:bold;
        border-radius:5px;
    }
    #dialogMsg {
        font-size:2.5rem;
    }
    
    .dialogButton {
        font-size:2.5rem;
    }

    button.hover {
        background-color: rgb(241, 241, 241);
        box-shadow: 0px  0px 2px 1px gray;
    }
}

/*スマホサイズ　横*/
@media only screen and (max-device-width:926px) and (orientation: landscape){
    .button {
        width:500px;
        font-size:2rem;
        font-weight:bold;
        display:block;
        text-decoration:none;
        border: none;
        text-align:center;
        padding:4px 0 4px;
        color:#000000;
        background-color:white;
        border-radius:5px;
        margin:20px auto 30px;
    }

    .title_button {
        margin-top:10%;
    }

    input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

    #dialogBackground {
        position: fixed;
        left: 0px;
        top: 0px;
        width:950px;
        height: 100vh;
        background-color: #000000;
        opacity: 0.5;
    }
}