@(message:String,form:Form[TaskListViewModel],taskNo:Int,encodedResult:String)
@main() {
  <h1>タスク管理</h1>
  <p>@Html(message)</p>
  <div class="other_item">
  	@helper.form(action=routes.HomeController.remove(encodedResult)){
  	@helper.CSRF.formField
  	@helper.inputText(form("taskNo"),'_label -> "タスクNo",'disabled -> "disabled")<br>
  	@helper.inputText(form("taskName"),'_label -> "タスク名",'disabled -> "disabled")<br>
  	@helper.inputDate(form("deadLine"),'_label -> "期日",'disabled -> "disabled")<br>
	@helper.inputText(form("status"),'_label -> "ステータス",'disabled -> "disabled")<br>
  	@helper.textarea(form("taskContents"),'_label -> "タスク内容",'cols ->20,'rows ->5,'disabled -> "disabled")
  </div>	
  	<button class="button">削除</button>
  	}
  	<button class="button" onclick="location.href='/index'">戻る</button>
}