@(message:String,taskList:List[TaskListViewModel],incompleteTaskList:List[TaskListViewModel])
@main() {
<h1>タスク管理</h1>
<div class="title_item">
    <p>@Html(message)</p>
    <button id="switchButton" class="button" onclick="switchShowList()">タスク表示切り替え</button>
    <table id="taskTable" class="table table-bordered table_size">
        <thead class="th_back">
            <tr>
                <th>タスクNo</th>
                <th>タスク名</th>
                <th>優先度</th>
                <th>期日</th>
                <th>ステータス</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody class="td_back">
            @if(incompleteTaskList.size()<=0){ 
                <tr class="show">
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                </tr>
            }else{
                @for(item<-incompleteTaskList){ 
                    <tr class="show">
                    <td>@item.taskNo</td>
                    <td>@item.taskName</td>
                    <td>@item.priority</td>
                    <td>@item.deadLine</td>
                    <td>@item.status</td>
                    <td><button onclick="location.href='/edit/@item.encodedResult'" class="tablebutton"
                            value="update:@item.encodedResult">更新</button></td>
                    <td><button onclick="location.href='/delete/@item.encodedResult'" class="tablebutton">削除</button>
                    </td>
                    </tr>
                }
            }
            @if(taskList.size()<=0){ 
                <tr class="hide">
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                <td>　　</td>
                </tr>
            }else{
                @for(item<-taskList){ 
                    <tr class="hide">
                    <td>@item.taskNo</td>
                    <td>@item.taskName</td>
                    <td>@item.priority</td>
                    <td>@item.deadLine</td>
                    <td>@item.status</td>
                    <td><button onclick="location.href='/edit/@item.encodedResult'" class="tablebutton"
                            value="update:@item.encodedResult">更新</button></td>
                    <td><button onclick="location.href='/delete/@item.encodedResult'" class="tablebutton">削除</button>
                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<button class="button" onclick="location.href='/add'">登録</button>
<button class="button" onclick="location.href='/signout'">サインアウト</button>
<button class="button" onclick="dialogShow()">アカウント削除</button>

<div id="dialog">
    <div id="dialogBackground"></div>
    <div id="dialogContent">
        <div id="dialogMsg">
            アカウントとそれに付随するタスクを削除いたします。<br>
            削除してもよろしいでしょうか。
        </div>
        <div>
            <button class="dialogButton dialogOkButton" onclick="location.href='/accountDelete'">はい</button>
            <button class="dialogButton" onclick="dialogHide()">いいえ</button>
        </div>
    </div>
</div>
}