@(message:String,form:Form[AccountViewModel])
@main() {
<h1>タスク管理</h1>
<p>@Html(message)</p>
@helper.form(action=routes.TaskManageController.signin()){
@helper.CSRF.formField
<div class="login_item">
    @helper.inputText(form("accountName"),'_label -> "アカウント名")
    @helper.inputPassword(form("password"),'_label -> "パスワード")
    <input type="checkbox" id="displayPassword" />
    <label for="displayPassword">パスワードを表示</label>
</div>
<button class="button login_button">ログイン</button>
}
<button class="button" onclick="location.href='/'">戻る</button>
}